@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    padding:0;
    margin:0;
    font-family: "poppins", sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("/Netflix-Clone/assets/images/bg.jpg");
    height:70vh;
    position:relative;
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
}
.main .box{
    height:70vh;
    width:100%;
    opacity:0.69; 
    position:absolute;
    top:0;
    background-color:black;
    z-index: 1;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height:62px;
    position: relative;
    z-index: 2;
}
nav img{
    width: 114px;
    position:relative;
    

}
nav button{
    position:relative;

}
.hero {
    font-family: "Martel-sans", sans-serif;
    position: relative;
    height: 89%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    z-index: 2;
    opacity: 1;
    gap: 23px;
    padding:0 30px ;

}

.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.line{
    height: 7px;
    background-color: rgb(61, 61, 61);
}

.btn{
    padding:3px 8px;
    font-weight: 400;
    color:white;
    background-color:rgba(255, 255, 255, 0);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}
.btn-red {
    background-color: red;
    color:white;
    padding:3px 24px solid red;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;

}
.btn-red-sm{
    background-color: red;
    color:white;
}
.main input{
    padding:7px 101px 8px 14px;
    font-weight: 900px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color:rgba(23,23,23,0.7);
    border:1px solid rgba(246,238,238,0.5) ;
}

.hero-buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3px;
}